<div class="map-container small-12 medium-5 large-4 centered columns">
  <div id="market-map" class="market-info"
    data-market=<%= @market.location %>
    data-lat=<%= @market.latitude %>
    data-lng=<%= @market.longitude %> >
  </div>
</div>
