/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.farm-info .farm-title {
  margin-left: 10px;
  text-outline: white;
}
.farm-info .farm-details h1 {
  margin: 0;
  color: rgb(247, 203, 50);
  text-align: left;
}
.farm-info .farm-details h1 a {
  color: rgb(247, 203, 50);
}
.farm-info .farm-details h1 a:hover {
  color: rgb(226, 145, 24);
  background-color: rgba(47, 21, 8, 0.83);
}
.farm-info .farm-details p {
  margin: 0;
  color: rgb(247, 203, 50);
  text-align: left;
  padding-bottom: 1em;
  color: rgb(247, 203, 50);
}
.farm-info .farm-details {
  text-align: right;
  margin-right: 0;
}
.farm-info .farm-details h5 {
  color: rgb(247, 203, 50);
}
.farm-info .farm-details .farm-buttons .registration-form {
  background-color: rgba(47, 21, 8, 0.83);
}
.farm-info .farm-details .farm-buttons .registration-form-delete {
  background-color: rgba(191, 94, 14, 0.5);
  color: rgba(5, 3, 26, 0.91);
}
.farm-info .farm-details .farm-buttons .registration-form-delete:hover {
  background-color: red;
  text-transform: uppercase;
  color: rgba(5, 3, 26, 0.91);
}
.registration-form .field h5 {
  color: rgb(247, 203, 50);
}
.registration-form .user-info .farm-details {
  background-color: rgba(47, 21, 8, 0.83);
}
.registration-form .user-info .farm-details-delete {
  background-color: rgba(191, 94, 14, 0.5);
  color: rgba(5, 3, 26, 0.91);
}
.registration-form .user-info .farm-details-delete:hover {
  background-color: red;
  text-transform: uppercase;
  color: rgba(5, 3, 26, 0.91);
}
.left-sideshow-info .market-info .farm-buttons .registration-form {
  background-color: rgba(47, 21, 8, 0.83);
}
.left-sideshow-info .market-info .farm-buttons .registration-form {
  background-color: rgba(47, 21, 8, 0.83);
}
.farm-info {
  background-color: rgba(149, 67, 31, 0.70);
  margin-right: 0;
  margin-top: 0;
}
.left-sideshow-info {
  background-color: rgba(149, 67, 31, 0.70);
  color: rgb(247, 203, 50);
  margin: 4em;
  border-radius: 10px;
}
.registration-form {
  background-color: rgba(149, 67, 31, 0.70);
  color: rgb(247, 203, 50);
  text-align: center;
}
.registration-form .market  {
  color: rgb(247, 203, 50);
  background-color: rgba(47, 21, 8, 0.83);
}
.registration-form .market:hover {
  color: white;
}
.registration-form h1 {
  color: rgb(247, 203, 50);
  text-transform: capitalize;
}
.registration-form h3 {
  color: rgb(247, 203, 50);
  text-transform: capitalize;
  margin: 0em;
}
.registration-form h5 {
  color: rgb(247, 203, 50);
}
.registration-form .farm-buttons .farm-details .button {
  color: rgb(247, 203, 50);
  background-color: rgba(47, 21, 8, 0.83);
}
.registration-form .farm-buttons .farm-details .button:hover {
  color: white;
}
#new_user .registration-form .button {
  color: rgb(247, 203, 50);
  text-transform: lowercase;
}
.left-sideshow-info .market-info  {
  color: rgb(247, 203, 50);
  text-align: center;
}
.left-sideshow-info .market-info h1 {
  color: rgb(247, 203, 50);
  text-align: center;
}
.left-sideshow-info #product-list {
  color: rgb(247, 203, 50);
  text-align: left;
}
.left-sideshow-info .market-info h5 a {
  color: rgb(247, 203, 50);
  text-decoration: underline;
}
.left-sideshow-info .market-info h5 a:hover {
  color: rgb(226, 145, 24);
  text-decoration: underline;
  background-color: rgba(47, 21, 8, 0.83);
}
.left-sideshow-info .farm-details .registration-form {
  background-color: rgba(47, 21, 8, 0.83);
}
.market-info p {
  padding: 0.5em;
  text-align: center;
}
.market-info h5 {
  color: rgb(247, 203, 50);
}
