/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.farm-info .farm-title {
  margin-left: 10px;
  text-outline: white;
}
.farm-info .farm-details h1 {
  margin: 0;
  color: rgb(247, 203, 14);
  text-align: left;
}
.farm-info .farm-details {
  text-align: right;
  margin-right: 0;
}
.farm-info .farm-details h5 {
  color: rgb(247, 203, 14);
}
.farm-info .farm-details p {
  padding-bottom: 1em;
  color: rgb(247, 203, 14);
}
.farm-info {
  background-color: rgba(149, 67, 31, 0.70);
  margin-right: 0;
  margin-top: 0;
}
.left-sideshow-info {
  background-color: rgba(149, 67, 31, 0.70);
  color: rgb(247, 203, 14);
  margin: 4em;
  border-radius: 10px;
}
.registration-form {
  background-color: rgba(149, 67, 31, 0.70);
  color: rgb(247, 203, 14);
  text-align: center;
}
.registration-form h1 {
  color: rgb(247, 203, 14);
  text-transform: capitalize;
}
.registration-form h3 {
  color: rgb(247, 203, 14);
  text-transform: capitalize;
  margin: 0em;
}
.registration-form h5 {
  color: rgb(247, 203, 14);
}
.registration-form #farms-index .button {
  color: rgb(247, 203, 14);
  background-color: rgba(47, 21, 8, 0.83);
}
#new_user .registration-form .button {
  color: rgb(247, 203, 14);
  text-transform: lowercase;
}
.left-sideshow-info .market-info  {
  color: rgb(247, 203, 14);
}
.left-sideshow-info .market-info h5 link {
  color: rgb(247, 203, 14);
  text-transform: lowercase;
}

.market-info p {
  padding: 0.5em;
  text-align: center;
}
.market-info h5 {
  color: rgb(247, 203, 14);
}
